<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Web Sequencer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header class="header">
    <div class="container">
      <h1 class="logo"><a href="/">Web Sequencer</a></h1>
      <p>Web上でmidiを構築して音を鳴らせます</p>
    </div>
  </header>
  <main>
    <div id="keyboard">
      <div data-key="65" class="whitekey"><span class="text">C5</span></div>
      <div data-key="87" class="blackkey"><span class="text">C#5</span></div>
      <div data-key="83" class="whitekey"><span class="text">D5</span></div>
      <div data-key="69" class="blackkey"><span class="text">D#5</span></div>
      <div data-key="68" class="whitekey"><span class="text">E5</span></div>
      <div data-key="70" class="whitekey"><span class="text">F5</span></div>
      <div data-key="84" class="blackkey"><span class="text">F#5</span></div>
      <div data-key="71" class="whitekey"><span class="text">G5</span></div>
      <div data-key="89" class="blackkey"><span class="text">G#5</span></div>
      <div data-key="72" class="whitekey"><span class="text">A5</span></div>
      <div data-key="85" class="blackkey"><span class="text">A#5</span></div>
      <div data-key="74" class="whitekey"><span class="text">B5</span></div>
      <div data-key="75" class="whitekey"><span class="text">C6</span></div>
    </div>
  </main>
  <footer>
    <script src="static/bundle.js"></script>
  </footer>
</body>
</html>