#keyboard {
  width: 100%;
  position: relative;
}


.whitekey {
  width: 10%;
  height: 240px;
  display: inline-block;
  border: 1px solid #000;
  position: relative;
  top: 0;
  z-index: 0;
}

.whitekey .text {
    position: absolute;
    bottom: 5px;
    left: 30%;
    color: #bbb;
    font-size: 14px;
    font-weight: bold;
    z-index: 0;
}

.whitekey.activekey {
  background-color: #ddd;
}

.blackkey {
  width: 9%;
  height: 140px;
  display: inline-block;
  margin-left: -5%;
  background-color: #000000;
  position: absolute;
  top: 0;
  z-index: 1;
}

.blackkey .text {
    position: absolute;
    bottom: 5px;
    left: 15%;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    z-index: 2;
}

.blackkey.activekey {
  background-color: #333;
}